body {
    margin: 0;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

* {
    /* Sets the calculations for the box to include the borders */
    box-sizing: border-box;
}

.form {
    color: palevioletred;
}

.flexbox-section {
    width: 80%;
    margin: 2% auto 1% auto;
    display: flex;
    justify-content: space-between;
    gap: 2%;

    /* allows circles to be placed anywhere relative to this section */
    position: relative;
    height: fit-content;
}

.small-box {
    height: 20vh;
    min-width: 150px;
    background-color: #02989D;
    margin-bottom: 1%;

    /* this shorthand means the box will grow and shrink with the screen at the same rate as the other boxes. it will try to maintain the 31.5% of the screen
        Why 32? three boxes would be roughly 33.33% and i am maintaining two 2% gap between the three boxes. 
        32% * 3 = 96% + (2% * 2) = 100%
    */
    flex: 1 1 32%;
}

.big-box {
    height: 40%;
    width: 80%;
    margin: 0 auto;
    background-color: #02989D;

    position: relative;
}

.circle-small {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: absolute;
}

.circle-large {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: absolute;
}

.pink { background-color: #FF8887; }

.yellow { background-color: #FFDE59; }

/* position */

#circle-1 {
    top: 4%;
    left: 5%;
}

#circle-2 {
    left: 5%;
    bottom: 0;
}

#circle-3 {
    top: 10%;
    left: 40%;
}

#circle-4 {
    bottom: -40%;
    left: 15%;
    z-index: 1;
}

#circle-5 {
    bottom: -3rem;
    left: calc(33% - 3rem);
    z-index: 1; /* brings it forward */
}

#circle-6 {
    top: 15%;
    left: 15%;
}

/* TRIANGLES */

.large-triangle {
    height: 0;
    width: 0;
    
    border-left: 11rem solid transparent;
    border-right: 11rem solid transparent;
    border-bottom: 25rem solid rgb(55, 125, 63);

    position: absolute;
    bottom: 0;
    right: 11rem;
}

.small-triangle {
    height: 0;
    width: 0;
    border-left: 10rem solid transparent;
    border-right: 10rem solid transparent;
    border-bottom: 20rem solid #cee077;

    position: absolute;
    bottom: 0;
    right: 0;
}

svg {
    /* Height will adjust the scaling size of our SVG */
    height: 150px;
    color: rgb(111, 226, 227)
}

svg:nth-child(n+7) {
    color: rgb(64, 70, 76);
}

.people {
    position: absolute;
    z-index: 1; /* we want this to be explicitly above the triangles */
    display: flex;
    bottom: -4%;
}

/* FOOTER */

footer {
    width: 80%;
    height: 2%;
    margin: 2% auto;
    background-color: #cee077;
}

/* media queries */


/* First level of adjustment.  Tablet size starts usually around 768px */

@media (max-width: 1050px) {

    /* 
        Looks like the Triangles are WAY to large when the screen gets smaller
        So as the page shrinks, the triangles should also adjust too
    */
    .small-triangle,
    .large-triangle {
        /*
        You could adjust each side of the border to tweak it perfectly, but in anticipation
        of this, REM was the unit used.  REM is based on the font-size of the html page.
        
        So instead of adjusting all the following, a simple adjustment to font-size will scale
        all of these values down - while maintaining the same ratio

        border-left: 10rem solid transparent;
        border-right: 10rem solid transparent;
        border-bottom: 20rem solid #cee077; 
        */
    }

    html {
        font-size: 10px;
        /* Shrink the size here for the whole page instead of individually */
    }

    /* This also adjusts the size of the circles (makes them smaller) */
    /* The SVG images are not scalled to REM so lets see how they would be altered */

    svg {
        height: 100px;
        /* down from 150 to 100 */
    }

}

/* At around 580 width, with how the flexbox in this project was set up, the three layout moves
to have two boxes above and one below.  Media queries should account for this.  Additionally, the people
are reaching the end of the page, so they should be scaled down again */

@media (max-width: 768px) {

    #circle-2 {
        bottom: 50%;
    }

    #circle-4 {
        bottom: 20%;
    }

    #circle-5 {
        bottom: calc(50% - 3rem);
        left: calc(50% - 3rem)
    }

    svg {
        height: 70px;
    }

    .people {
        bottom: -2%;
    }
}


@media (max-width: 320px) {

    .large-triangle {
        right: 5rem;
    }

    svg {
        height: 50px;
    }

    .people {
        bottom: -2%;
    }
}