body {
    margin: 0;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

.form {
    color: palevioletred;
}

.flexbox-section {
    width: 80%;
    margin: 2% auto 1% auto;
    display: flex;
    justify-content: space-between;
    gap: 2%;
    position: relative;
    height: fit-content;
}

.small-box {
    height: 20vh;
    min-width: 150px;
    background-color: #02989D;
    margin-bottom: 1%;
    flex: 1 1 32%;
}

.big-box {
    height: 40%;
    width: 80%;
    margin: 0 auto;
    background-color: #02989D;

    position: relative;
}

.circle-small {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: absolute;
}

.circle-large {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: absolute;
}

.pink { background-color: #FF8887; }

.yellow { background-color: #FFDE59; }

/* position */

#circle-1 {
    top: 4%;
    left: 5%;
}

#circle-2 {
    left: 5%;
    bottom: 0;
}

#circle-3 {
    top: 10%;
    left: 40%;
}

#circle-4 {
    bottom: -40%;
    left: 15%;
    z-index: 1;
}

#circle-5 {
    bottom: -3rem;
    left: calc(33% - 3rem);
    z-index: 1; 
}

#circle-6 {
    top: 15%;
    left: 15%;
}

/* TRIANGLES */

.large-triangle {
    height: 0;
    width: 0;
    
    border-left: 11rem solid transparent;
    border-right: 11rem solid transparent;
    border-bottom: 25rem solid rgb(55, 125, 63);

    position: absolute;
    bottom: 0;
    right: 11rem;
}

.small-triangle {
    height: 0;
    width: 0;
    border-left: 10rem solid transparent;
    border-right: 10rem solid transparent;
    border-bottom: 20rem solid #cee077;

    position: absolute;
    bottom: 0;
    right: 0;
}

svg {
    height: 150px;
    color: rgb(111, 226, 227)
}

svg:nth-child(n+7) {
    color: rgb(64, 70, 76);
}

.people {
    position: absolute;
    z-index: 1; 
    display: flex;
    bottom: -4%;
}

/* FOOTER */

footer {
    width: 80%;
    height: 2%;
    margin: 2% auto;
    background-color: #cee077;
}



@media (max-width: 1050px) {

    html {
        font-size: 10px;
    }

    svg {
        height: 100px;
    }

}


@media (max-width: 768px) {

    #circle-2 {
        bottom: 50%;
    }

    #circle-4 {
        bottom: 20%;
    }

    #circle-5 {
        bottom: calc(50% - 3rem);
        left: calc(50% - 3rem)
    }

    svg {
        height: 70px;
    }

    .people {
        height: 150px;
    }
}


@media (max-width: 320px) {

    .large-triangle {
        right: 5rem;
    }

    svg {
        height: 50px;
    }

    .people {
        bottom: -2%;
    }
}